/* .header {
  position: absolute;
} */

.header{
  background-color: #00171F;
  position: relative;
  z-index: 1;
}
.title{
  padding: 25px 0px 25px 50px;
  font-size: 45px;
  color: #007EA7;
  letter-spacing: 1px;
}
.title span::before{
  content: "-";
  color: #007EA7;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 6px;
}

.title span {
  color: white;
  font-size: 40px;
  font-weight: 600;
}


.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  background-color: #00171F;
  height: 100px;
}
.menu ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu ul:first-child{
  margin-left: 15%;
}
.menu ul li{
  padding: 40px 2vw 40px 2vw;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width:1000px){
  .menu ul:first-child{
    margin-left: 5%;
  }
}

.imgHead{
  background-image: url("./../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  90% 70%;
  height: 40vh;
  width: 100vw;
}
