section.realisation {
    width: 100vw;
    height: auto;
    background-color: #007EA7;
}
section.realisation .contents{
    padding-bottom: 50px;
}
section.realisation .contents .titre h1{
    color: #00171F;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 50px;
}

section.realisation .contents .content .line {
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    overflow: hidden;
    width: 50vw;
    column-count: 2;
    display: flex;
    flex-direction: row;
}

section.realisation .contents .content .line a img {
    width: 25vw;
}

section.realisation .contents .content .line a img:hover {
    transform: scale(1.1);
}
