<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Veille technologique Luc Berghof</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../styles/veilleTechno.css">
    </head>
    <body>
        <header id="home">
          <div class="header">
            <div class="menu">
              <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../index.html#presentation">Presentation</a></li>
                <li><a href="../index.html#competence">Compétence</a></li>
                <li><a href="../index.html#realisations">Réalisations</a></li>
                <li><a href="../index.html#formation">Formation</a></li>
                <li><a href="./view/veilleTechno.html">Veille Technologique</a></li>
                <li><a href="mailto:berghof.luc@gmail.com">Contact</a></li>
              </ul>
            </div>
            <h1 class="title">Berghof Luc<span>Portefolio</span></h1>
            <div class="fixed">
              <div class="borderIcon">
                <div id="nav-icon2">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="imgHead">
            <!-- <img src="./images/banner.jpg" alt="error" class="imgH"> -->
          </div>
        </header>
        <main>
            <section class="section-veilleTechno">
                <h2>Veille Techonologique</h2>
                <div class="veilleTechno-Article">
                    <h4>Réalité Augmenté</h4><br>
                    <p class="veilleTechno-def">Définition : La réalité augmentée (ou RA) est une technologie qui permet d’intégrer des éléments virtuels en 3D (en temps réel) au sein d’un environnement réel. Le principe est de combiner le virtuel et le réel et donner l’illusion d’une intégration parfaite à l’utilisateur.</p><br>
                </div>
                <div class="veilleTechno-Article">
                    <div class="divArticle divArticle1">
                        <h3><a href="https://hitek.fr/actualite/hololens-casque-holographique-microsoft_4777" class="lien-veilletechno">HOLOLENS : Microsoft dévoile son casque holographique .</a></h3>
                        <p class="date-veilletechno">21 Janvier 2019</p><br>
                        <p>Microsoft dévoile un projet de casque holographique , gràce a sa visiére on peut faire une intéraction entre nos geste et les images.
                        le casque fonctionnera sans aucun câble , il sera complétement autonome. Une date de sortie n'a toujours pas était annoncé a se jour .</p>
                    </div>
                    <div class="imageArticle imageArticle1">
                        <img src="./../images/hololens.jpeg" alt="" class="img-article img1">
                    </div>
                </div>
                <div class="veilleTechno-Article">
                    <div class="divArticle divArticle2">
                        <h3><a href="https://www.usine-digitale.fr/article/microsoft-se-met-a-la-realite-augmentee-sur-smartphones-et-tablettes.N809485" class="lien-veilletechno">Microsoft met a disposition la réalité augmenté.</a></h3>
                        <p class="date-veilletechno">21 février 2019</p><br>
                        <p>Microsoft met a disposition la réalité sur smartphone et tablette. Dynamics 365 project visualize est l'application qui va permettre d'utilisé la réalité augmenté avec votre téléphone.
                        , cette applications a pour projet premier d'aider a la vente d'équipement complexe se qui permettra de voire ou le placé, on peut imaginer cette applications utilisé aussi pour des usages personnel . </p>
                    </div>
                    <div class="imageArticle imageArticle2">
                        <img src="./../images/microsoft-RA.jpg" class="img-article img2" alt="">
                    </div>
                </div>
                <div class="veilleTechno-Article">

                    <div class="divArticle divArticle5">
                        <h3><a href="https://www.frandroid.com/android/applications/573606_google-maps-la-navigation-en-realite-augmentee-est-enfin-disponible-nous-lavons-testee" class="lien-veilletechno">Google maps : La navigation en réalité augmentée.</a></h3>
                        <p class="date-veilletechno">10 Mai 2019</p><br>
                        <p>Google proprose maitenant une nouveau service via Google Maps grace a la réalité augmenté google map va proposé une direction pour votre trajet grâce a des points identifié via l'appareil photo.Cette nouvelle option permettra d'évité de se tromper de diréction.</p>
                    </div>
                    <div class="imageArticle imageArticle5">
                        <img src="./../images/google-maps.jpg" class="img-article img5" alt="">
                    </div>
                </div>
                <div class="veilleTechno-Article">
                    <div class="divArticle divArticle11">
                        <h3><a href="https://mobilemarketing.fr/2019/07/04/les-lunettes-en-realite-augmentee-dapple-seront-elles-pretes-en-2020/" class="lien-veilletechno"></a>Apple annonce la sortie de lunettes de réalité augmenté</h3>
                        <p class="date-veilletechno">4 juillet 2019</p><br>
                        <p>Apple annonce la sortie de leur lunettes a réalité augmenté qui serait prévus pour 2020 voire 2021 .
                        Sortie qui parait tardive car google et microsoft sont déja a la 2éme génération de lunettes a réalité augmentée</p>
                    </div>
                    <div class="imageArticle imageArticle11">
                        <img src="./../images/apple-glass.png" class="img-article img11" alt="">
                    </div>
                </div>
                <div class="veilleTechno-Article">
                    <div class="divArticle divArticle9">
                        <h3><a href="https://www.zdnet.fr/actualites/l-hololens-2-de-microsoft-disponible-a-la-vente-ce-mois-ci-39889875.htm" class="lien-veilletechno">L'Hololens 2 de microsoft est enfin dévoilé .</a></h3>
                        <p class="date-veilletechno">2 septembre 2019</p><br>
                        <p>L'hololens 2 aurait un interet plus important pour les pros, donc dans le monde du travail. l'Hololens 2 sera plus fluide , il aura un suivi des mains et des yeux ce qui rendra l'intéraction plus fluide avec la réalité augmenté , cette version sera plus légére et mieux lesté . </p>
                    </div>
                    <div class="imageArticle imageArticle9">
                        <img src="./../images/hololens-2.jpg" class="img-article img9" alt="">
                    </div>
                </div>
                <div class="veilleTechno-Article">
                    <div class="divArticle divArticle10">
                        <h3><a href="https://instatunisia.com/post/Display-land-de-Ubiquity6-fait-partie-scanner-3D-une-partie-r%C3%A9seau-social-20191118" class="lien-veilletechno">Display.Land de Ubiquity6 et le scanner 3D font désormais partie des réseaux sociaux.</a></h3>
                        <p class="date-veilletechno">18 Novembre 2019</p><br>
                        <p>Display.Land permet via un appareil photo de faire une mise en forme 3D grâce a des points focal donc des caractéristique géométrique. On peut imaginé prochainement une utilisation plus varié de se systéme, et on peut déja l'imaginé combiné a la réalité virtuelle qui permettré de se retrouvé imergé dans un hotel , musée, ou méme dans la vente de maison et d'appartement une visite a distance grâce a quelque photo prise par une personne .</p>
                    </div>
                    <div class="imageArticle imageArticle10">
                        <img src="./../images/ubiquity6-display.land.jpeg" class="img-article img10" alt="">
                    </div>
                </div>
                <div class="veilleTechno-Article">
                    <div class="divArticle divArticle11">
                        <h3><a href="https://www.usine-digitale.fr/article/apple-renforce-ses-positions-dans-la-realite-augmentee-avec-l-acquisition-d-ikinema.N893099" class="lien-veilletechno"></a>Apple investit aussi dans la réalité augmenté</h3>
                        <p class="date-veilletechno">10 octobre 2019</p><br>
                        <p>Apple a acheté la start-up britannique d'ikinema qui est spécialisé dans la téchnologie d'animation 3D . L'année derniére Apple avait acheté Akonia holographics qui était spécialisé dans des écrans marchant avec des lunettes de réalité augmenté .</p>
                    </div>
                    <div class="imageArticle imageArticle11">
                        <img src="./../images/apple.jpg" class="img-article img11" alt="">
                    </div>
                </div>
                <div class="veilleTechno-Article">
                    <div class="divArticle divArticle12">
                        <h3><a href="https://www.usine-digitale.fr/article/north-arrete-la-production-de-ses-lunettes-connectees-focals-pour-se-concentrer-sur-les-focals-2.N912349" class="lien-veilletechno">Fin des Focals et le lancement du project Focals 2</a></h3>
                        <p class="date-veilletechno">11 Décembre 2019</p><br>
                        <p>1 ans aprés la sortie des lunettes Focals l'entreprise Canadienne annonce le début du projet Focals 2 et la téchnologie présent dans les lunettes est 40% plus compacte grâce a la miniaturisation .
                        on peut se demander qu'elle surprise nous réserve c'est lunettes pour 2021 ou 2022 .</p>
                    </div>
                    <div class="imageArticle imageArticle12">
                        <img src="./../images/Focals.jpg" class="img-article img12" alt="">
                    </div>
                </div>
            </section>
        </main>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <!-- <script src="./js/jquery.easypiechart.min.js"></script> -->
        <script type="text/javascript" src="../js/index.js"></script>
    </body>
</html>
